img{
    width: 100%;
    height: 60%;
}
.card{
    height: 500px;
}
.Form{
    width: 100%;
}

.d-blockw-100{
    height: 600px;
}
.card-img-top{
    height: 300px;
}


.nav{
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;
    z-index: 99999;
    width: 100%;
}
#nav1{
    width: 100%;
}



#listSP{
    margin-top: 20px;
}
.scroll{
    height: 50px;
    width: 50px;
    background-color: aqua;
}


.den{
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.footer{
    display: flex;
    justify-content: space-between;
}

