img{
    width: 100%;
    height: 60%;
}
.card{
   height: 100%;
}
.Form{
    width: 100%;
}

.d-blockw-100{
    height: 600px;
}
.card-img-top{
    height: 300px;
}


.nav{
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;
    z-index: 99999;
    width: 100%;
}
#nav1{
    width: 100%;
}
.navbar-brand{
    font-family: 'Bungee Spice', sans-serif;
font-family: 'Pacifico', cursive;
}



#listSP{
    margin-top: 20px;
    width: 100%;
}
.dia-chi{
    height: 80%;
    width: 40%;
    align-self: center;

}
.danhmuc{
    width: 20%;
    height: 30%;
    align-self: center;
    color: white;

}
.ten{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;    
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Pacifico', cursive;
}
.list{
    list-style: none;
}
.hinh{
    height: 100%;
    width: 100%;
}
.card2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





.footer{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    width: 100%;
    background-color: red;
    height: 300px;
}


.fitcontent{
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 40px;
    right: 20px;
}

.cursor-pointer{
    cursor: pointer;
}


.price{
    color: red;
}


